/* body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}




    .register-now {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
    
    @media(min-width:768px) {
        .register-now {
            font-size: 22px;
        }
    }
    
    @media(min-width:992px) {
        .register-now {
            font-size: 25px;
        }
    }
    
    @media(min-width:1200px) {
        .register-now {
            font-size: 30px;
        }
    }
    
    .btn-primary {
        margin-top: 5px;
    }
    
    html,
    body {
        width: 100%;
        height: 100vh;
        color: white;
    }
    
    body {
        /*background-image: url("https://s3-ap-southeast-1.amazonaws.com/ictexpo/ryte_club/header.jpg");
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }
    
    .container {
        width: 1170px;
        padding-top: 20vh;
    }
    
    .sign-header {
        font-size: 20px;
    }
    
    .form-control {
        width: 25%;
    }
    
    .btn-block {
        width: 25%;
    }
    
    */ 
